:root {
  --color1: #fff;
  --color2: #21c537;
  --color3: #d31616;
}

.container {
  background-color: var(--color2);
  color: var(--color1);
}
.container span {
  background-color: var(--color3);
}
.item {
  background-color: var(--color3);
  color: var(--color1);
}
.item p {
  background-color: var(--color2);
}
