.menu {
  background-color: #5d3ebd;
  /* width: 200px; */
  /* padding: 10px; */
}

.menu ul {
  /* list-style: "✅ "; */
  list-style-image: none;
  padding: 0;
  list-style-position: inside;
}

.menu li {
  display: inline-block;
  /* background-color: #5d3ebd; */
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.menu li:hover {
  background-color: aliceblue;
}
.menu li:hover a {
  color: #5d3ebd;
}
